# ðŸ¥ Medical Insurance Cost Prediction

This project explores healthcare analytics using a medical insurance dataset. The goal is to understand how demographic and health factors influence medical costs and to develop models for prediction, classification, and clustering.

---

## ðŸ“Œ Objectives
- Predict annual medical insurance charges (Regression)
- Classify individuals by health/risk level
- Cluster similar health and insurance profiles
- Analyze relationships between demographics, health factors, and costs

---
## ðŸ§° Tools & Libraries
- Python, Pandas, NumPy  
- Scikit-learn  
- Matplotlib, Seaborn  
- Jupyter Notebook

### ðŸ“¦ Project Libraries - install

In [ ]:
%pip install -q -U pandas numpy matplotlib seaborn scikit-learn  
# Install and upgrade essential packages:
# pandas & numpy -> data manipulation and numerical operations
# matplotlib & seaborn -> data visualization
# scikit-learn -> machine learning (regression, classification, clustering)

%pip install -q -U watermark  
# Install/upgrade watermark to display package versions and environment info

### ðŸ“¦ Project Libraries - import

This section lists all the Python libraries used in this project. 
Keeping them organized here helps with reproducibility and makes it easier to install dependencies.

In [2]:
# Importing the library for data manipulation in tables
import pandas as pd 

# Importing the NumPy library for mathematical operations and arrays
import numpy as np  

# Importing the Matplotlib library for generating plots
import matplotlib.pyplot as plt

# Jupyter Notebook magic command to display plots directly in the notebook
%matplotlib inline

# Importing the Seaborn library for statistical data visualization
import seaborn as sns

# scikit learn area:

# Import for regression
from sklearn.linear_model import LinearRegression  

# Import for classification
from sklearn.ensemble import RandomForestClassifier  

# Import for clustering
from sklearn.cluster import KMeans  

# Import for splitting dataset
from sklearn.model_selection import train_test_split  

# Import for evaluating models
from sklearn.metrics import mean_squared_error, accuracy_score



# Load the watermark extension
%reload_ext watermark

# Display metadata for your notebook
%watermark -a "Maykon Analysis" -d -u -v -p numpy,pandas,matplotlib,seaborn,scikit-learn

Author: Maykon Analysis

Last updated: 2025-11-22

Python implementation: CPython
Python version       : 3.13.7
IPython version      : 9.7.0

numpy       : 2.3.5
pandas      : 2.3.3
matplotlib  : 3.10.7
seaborn     : 0.13.2
scikit-learn: 1.7.2

#### Loading a dataset into your working environment (using the pandas library).

In [5]:
# load the data
data = r"C:\Users\LarTI\OneDrive\Desktop\Projects\Medical-Insurance-Cost-Prediction-\data\medical_insurance.csv"

df = pd.read_csv(data)

In [6]:
df.head()

,person_id,age,sex,region,urban_rural,income,education,marital_status,employment_status,household_size,...,liver_disease,arthritis,mental_health,proc_imaging_count,proc_surgery_count,proc_physio_count,proc_consult_count,proc_lab_count,is_high_risk,had_major_procedure
0,75722,52,Female,North,Suburban,22700.0,Doctorate,Married,Retired,3,...,0,1,0,1,0,2,0,1,0,0
1,80185,79,Female,North,Urban,12800.0,No HS,Married,Employed,3,...,0,1,1,0,0,1,0,1,1,0
2,19865,68,Male,North,Rural,40700.0,HS,Married,Retired,5,...,0,0,1,1,0,2,1,0,1,0
3,76700,15,Male,North,Suburban,15600.0,Some College,Married,Self-employed,5,...,0,0,0,1,0,0,1,0,0,0
4,92992,53,Male,Central,Suburban,89600.0,Doctorate,Married,Self-employed,2,...,0,1,0,2,0,1,1,0,1,0